[build]
builder = "dockerfile"

[deploy]
startCommand = "npm start"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[[volumes]]
mountPath = "/app/whatsapp_session"
name = "whatsapp_session"
